<!-- start card -->
<div class="col">
    <div class="card">
        <img src="" alt="">
        <a href="#" class="card-content">
            <div class="card-menu">
                <div class="items">

                    <i data-bs-toggle="tooltip" data-bs-placement="left" title="In stock" class="instock"></i>

                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Wishlist"><i class="fa-regular fa-heart"></i></a>
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i class="fa-regular fa-shuffle"></i></a>
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Cart"><i class="fa-regular fa-cart-shopping" ></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="card-title">Product Title</div>
            </div>
        </a>
        <div class="card-background"></div>
    </div>       
</div>
<!-- end card -->
